
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}
body{
    background-color: pink;

}
h1{
    text-align: center;
    text-decoration: underline;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    text-decoration: overline;
    font-weight: bolder;
}
.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;  
    width: 100%;
}
.tarjeta{
    width: 250px;
    border: 5px solid black;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
}
img{
    width: 100%;
}
.boton-tarjeta{
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(161, 89, 230)    ;
    color: whitesmoke;
    border-radius: 10px;
    font-weight: 400
}
nav{
    background-color: rgb(248, 137, 189);
    padding: 20px;
    color: aliceblue;
}